RewriteEngine On
RewriteBase /

# Add all the IP addresses of people that are helping in development
# and need to be able to get past the maintenance mode.
# One might call this the 'allow people list'
RewriteCond %{REMOTE_HOST} !^132\.184\.131\.202
RewriteCond %{REMOTE_HOST} !^190\.213\.189\.555

# This is the 'ignore file list'. It allows access to all
# files that are needed to display the maintenance mode page.
# Example: pages, css files, js files, images, anything.
# IMPORTANT: If you don't do this properly, visitors will end up with
# endless redirect loops in their browser.
RewriteCond %{REQUEST_URI} !mantenimiento/index.html\.php$
RewriteCond %{REQUEST_URI} !mantenimiento/assets\/img\/background\.jpg$
RewriteCond %{REQUEST_URI} !mantenimiento/assets\/styles\/style\.css$
RewriteCond %{REQUEST_URI} !mantenimiento/assets\/styles\/style-dist\.css$

# Rewrite whatever request is coming in to the maintenance mode page
# The R=302 tells browsers (and search engines) that this
# redirect is only temporarily.
# L stops any other rules below this from executing whenever somebody is redirected.
RewriteRule \.*$ /mantenimiento/index.html [R=302,L]
