[Unit]
After=network.target
#Requires=canvas.socket

[Service]
User=www-data
UMask=0002
RuntimeDirectory=puma/canvas
WorkingDirectory=/srv/canvas/current
# Greatly reduce Ruby memory fragmentation and heap usage
# https://www.mikeperham.com/2018/04/25/taming-rails-memory-bloat/
Environment=MALLOC_ARENA_MAX=2
#Environment=PUMA_DEBUG=1
ExecStart=/bin/bash -lc 'bundle exec puma'
#ExecStart=/bin/bash -lc 'bundle exec --keep-file-descriptors puma'
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target

